<md-sidenav-container [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    ConfRoom
    <button *ngIf="!isLoggedIn" md-raised-button (click)="login()">
      <!-- <img width="30" src="google-logo.png" /> -->
      <!-- <i class="fa fa-sign-in" aria-hidden="true"></i> --> Login
    </button>
    <button *ngIf="isLoggedIn" md-raised-button (click)="logout()">
      <!-- <i class="fa fa-sign-out" aria-hidden="true"></i> --> Logout
    </button>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    {{title}}

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
    <button md-button><i class="material-icons">search</i></button>
    <button md-button><i class="material-icons">more_vert</i></button>
    <!-- <button class="user-button" md-button [mdMenuTriggerFor]="menu"> -->
    <button  *ngIf="isLoggedIn" [mdMenuTriggerFor]="userActions" class="user-button" md-button>
      <!-- <div fxLayout="row" fxLayoutAlign="start center"> -->
      <div>
        <!-- <img src="assets/img/avatars/noavatar.png" class="avatar-flex"/> -->
        <!-- <span fxHide="true" fxHide.gt-sm="false" style="font-weight: 500; margin-left: 5px;">David Smith</span> -->
        <span style="font-weight: 500; margin-left: 5px;">Bruce MacDonald</span>
        <!-- <md-icon fxHide="true" fxHide.gt-sm="false">keyboard_arrow_down</md-icon> -->
        <md-icon>keyboard_arrow_down</md-icon>
      </div>
    </button>
    <md-menu #userActions="mdMenu">
      <button md-menu-item>
        <md-icon>account_circle</md-icon>
        <span> Profile </span>
      </button>
      <button md-menu-item>
        <md-icon>room</md-icon>
        <span> My Location </span>
      </button>
      <button md-menu-item (click)="logout()">
        <md-icon>settings</md-icon>
        <span> Logout </span>
      </button>
    </md-menu>
  </md-toolbar>

  <div class="app-content">
   
    

    <p>
      dashboard works!
    </p>

  </div>

</md-sidenav-container>


<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>